{% extends "base.html" %}

{% block title %}Add Data{% endblock %}

{% block content %}
<h2>Add Data</h2>
<p><a href="{{ url_for('index') }}">Home</a></p>

{% if errors %}
    {% for err in errors %}
        <p class="text-danger">{{ err }}</p>
    {% endfor %}
    <p><a href="javascript:history.back()">Go Back</a></p>
{% endif %}

{% if success %}
    <p class="text-success">Data added successfully!</p>
    <p><a href="{{ url_for('index') }}">View Result</a></p>
{% endif %}

<form action="{{ url_for('contacts.add_contact') }}" method="post">
    <table width="25%" border="0">
        <tr>
            <td>Name</td>
            <td><input type="text" name="name" class="form-control"></td>
        </tr>
        <tr>
            <td>Age</td>
            <td><input type="text" name="age" class="form-control"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" name="email" class="form-control"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="submit" value="Add" class="btn btn-primary"></td>
        </tr>
    </table>
</form>
{% endblock %}